.nav{
    display:flex;
    column-gap:10px;
    align-items:center;
    justify-content: flex-start;
    margin:5px auto;
    padding:10px;
}
.Nav-head{
    display:flex;
    align-items:center;
}

.nav a{
    margin:10px;
}
.nav-item{
    background-color:white;
    padding:10px;
    border:none;
    border-radius:10px;
    color:#636363;
    text-align:center;
}
.active{
    background-color: #f2f2f2;
    border:1px solid #636363;
}
.favor{
    background-color: 'e1e4ea';
}