.display-mail{
    display:flex;
    padding:20px;
    text-align:left;
    border:1px solid #cfd2dc;
    border-radius:10px;
}
.details-container{
    padding:10px;
}
.Profile-letter{
    background-color:#e54065;
    color:white;
    border-radius:50%;
    width:50px;
    height:50px;
    padding:0 10px;
}
.favorite{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:10px;

}

.favorite-btn{
    padding:10px;
    border:none;
    border-radius:20px;
    padding:10px;
    color:white;
    background-color:#e54065;
}